@CHARSET "ISO-8859-1";

@import "bootstrap";
@import "bootstrap-responsive";
@import
	url("//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css") html , body
	{
	height:
	100%;

}

@media(max-width: 480px) {
	.image-clip{
		height: auto !important;
		width: 100% !important;
	}
}

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	background-color: #383838;
}

body {
	margin: 0;
	background-color: #383838;
}

form {
	margin: 0 16px 0 4px;
	margin-top: 15px;
}

div.field {
	margin-right: 500px;
}

h1,h2,h3,h4,h5,h6{
	color: #317eac;
}

label.error{
	color: red;
	font-weight: bold;
}

label{
	color: #317eac;
}

p {
	font-size: 1.1em;
	font-weight: 400;
	margin: 0 0 10px;
	line-height: 2;
	color: #317eac;
}

.center {
	float: none;
	margin: 0 auto;
}

.box-drop-shadow {

	-webkit-box-shadow:  0px 0px 10px 0px rgba(30,150,255,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(30,150,255,1);
    box-shadow: 0px 0px 10px 0px rgba(30,150,255,1);
	margin-top: 30px;
	margin-bottom: 35px;
	padding: 20px;
}

.box-drop-shadow-text {

	-webkit-box-shadow:  0px 0px 10px 0px rgba(30,150,255,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(30,150,255,1);
    box-shadow: 0px 0px 10px 0px rgba(30,150,255,1);
	margin-bottom: 10px;
	padding-top: 2px;
	padding-bottom: 10px;

}

.image-clip{
	width: auto;
	height: 256px;
	overflow:hidden;
	max-width: 256px;
	margin: 0 auto;
	float: none;
}

.title {
	text-align: left
}

.tag-box{
	position: relative;
	background-color:#E0EAF1;
    border-bottom: 1px solid #3E6D8E;
    border-right: 1px solid #7F9FB6;
    color: #3E6D8E;
    font-size: 90%;
    line-height: 2.4;
    margin: 2px 0px 2px 0px;
    padding: 3px 4px;
    text-decoration: none;
    white-space: nowrap;
 
}

#masonry-container{
    margin: 0 auto;
}

.item {
	opacity: 0;
}

.item.loaded {
	opacity: 1;
}

.simple-pagination-page-numbers a
{
	display: block;
	float: left;
	width: 2rem;
	text-align: left;
}


a[class^="simple-pagination-navigation-"] + a[class^="simple-pagination-navigation-"]
{
	margin-right: 0;
}
a[class*="simple-pagination-navigation-disabled"]
{
	color: black;
	cursor: default;
}

.my-navigation:after
{
	content: "";
	display: table;
	clear: both;
}
.my-navigation div
{
	float: left;
	
}
.my-navigation div + div
{
	margin-left: .5rem;
}

.inner {
	display: inline-block;
}

a{
	color: #317eac !important;
}

 #galleria{height:500px}
 
 .select-style {
    border: 1px solid #2fa4e7;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background: #2fa4e7 url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 90% 50%;
	color: #fafafa;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}
