@CHARSET "ISO-8859-1";

@import url("//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")


html,body {
  height: 100%;
}

form {
margin: 0 16px 0 4px;
}

div.field {
margin-right: 500px;
}

p {
font-size: 1.1em;
font-weight: 400;
color: #484848;
margin-bottom: 0px;
line-height: 2;
}

form{
	margin-top: 15px;
}

.image {
	vertical-align:middle;
	position: relative;
	padding: 1em;
	margin 1em 0px 3em;
	border-radius: 4px;
}

.center{
	float: none;
	margin: 0 auto;

}

.box-drop-shadow{
	margin-top: 30px;
	margin-bottom: 35px;
	margin-right: 5px;
    box-shadow: 0 0 50px blue;
    padding:15px 15px 15px 15px;
}

.title{
	text-align: left
}
}